stoodo.security.secret=YOUR_SECRETE_HERE
stoodo.security.access-token-expiration-time=1440000
stoodo.security.refresh-token-expiration-time=2629800000
stoodo.security.secure-cookies=false
stoodo.aws.access-key=
stoodo.aws.secrete-key=
stoodo.aws.region=eu-north-1
stoodo.aws.s3-bucket-name=stoodoo
spring.servlet.multipart.max-file-size=2MB
spring.servlet.multipart.max-request-size=2MB
server.servlet.context-path=/api/v1
spring.datasource.url=jdbc:postgresql://localhost:5445/postgres
spring.datasource.username=postgres
spring.datasource.password=postgres
spring.flyway.url=jdbc:postgresql://localhost:5445/postgres
spring.flyway.user=postgres
spring.flyway.password=postgres
spring.flyway.schemas=public
